@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter\ -\ Zero \Zero.woff") format("woff"),
        url("Fonts/Booter\ -\ Zero \Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: Raleway;
    color: white;
}


